<html>
<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
</head>
<div class "container">
  <div class="part1"></div>
<div class="part2">
    <table class="head">
        <tr>
            <td>Country</td>
            <td>Total Cases</td>
            <td>New</td>
        </tr>
    </table>
    <table class="global">
        <tr>
            <td>{{count_data[0][0]}}</td>
            <td>{{count_data[0][1]}}</td>
            <td>{{count_data[0][2]}}</td>
        </tr>
    </table>
    <div class="inner_table">
        <table>
        {%for record in count_data[1:]%}
        <tr>
            <td>{{record[0]}}</td>
            <td>{{record[1]}}</td>
            <td>{{record[2]}}</td>
        </tr>
        {% endfor %}
        <!-- Some more tr's -->
    </table>
    </div>
</div>
<div class="part3" >
<table style="overflow-y:auto;height:300px">
  <tr>
      <th>News</th>
      <th>Polarity</th>
      <th>Subjectivity</th>
      <th>Profinity</th>
      <th>Key Phrases (Summarisation)</th>
  </tr>
  {%for news in news_records%}
      <tr>
          <td style="width:50%"> {{news[0]}} </td>
          <td style="width:5%"> {{news[1]}} </td>
          <td style="width:5%"> {{news[2]}} </td>
          <td style="width:5%"> {{news[3]}} </td>
          <td style="width:40%">
              <ul class="cloud" role="navigation" aria-label="Webdev tag cloud" style="width:100%"  >    
                  {% for phrase in news[4] %}
                      <li><a style="font-size:{{20+phrase[0]*10}}">{{phrase[1]}}</a></li>
                  {% endfor %}
              </ul>
          </td>
      </tr>
  {% endfor %}
	</div>
 </div>
